<html>
<head>
    <link rel='stylesheet' href='css/style.css' />
</head>

<h1> <%= foo %> </h1>

<ul>
  
    <% computers.forEach(function(computer){ %>
        <%= computer.topic %> )    &nbsp;  <%= computer.name %>  &nbsp; &nbsp; <img src="<%= computer.images %>" width="100" height="70" hspace="50" />   <br /> <br />
    <% }); %>
    
</ul>

</html>