<html>

<head>
    <link rel='stylesheet' href='css/style.css' />
</head>

<div align="left">
    <h1>   &nbsp;  <%= foo %> </h1>
    <ul>
        <% computers.forEach(function(computer){ %>
      <ol>  <%= computer.topic %> ) &nbsp; <%= computer.name %> 
        <img src="<%= computer.images %>" width="150" height="90" hspace="50" align="middle" /> </ol> <br /> <br />
        <% }); %>
    </ul>
</div>


</html>